{
  "parser": "@typescript-eslint/parser",
  "extends": [
      "airbnb",
      "plugin:prettier/recommended",
      "plugin:react/recommended",
      "plugin:react-hooks/recommended",
      "plugin:jsx-a11y/recommended",
      "plugin:@next/next/recommended"
  ],
  "plugins": [
      "prettier"
  ],
  "env": {
      "browser": true
  },
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "rules": {
      "import/extensions":                    "off",
      "import/no-unresolved":                 [0],
      "import/no-extraneous-dependencies":    [0],
      "jsx-a11y/anchor-is-valid":             [ "error", {
                                                  "components": [ "Link" ],
                                                  "specialLink": [ "hrefLeft", "hrefRight" ],
                                                  "aspects": ["invalidHref", "preferButton"]
                                              }],
      "prettier/prettier":                    ["error"],
      "react-hooks/exhaustive-deps":          "warn", // Checks effect dependencies
      "react-hooks/rules-of-hooks":           "error", // Checks rules of Hooks
      "react/forbid-prop-types":              [0],
      "react/function-component-definition":  [1, {
                                                  "namedComponents": "arrow-function"
                                              }],
      "react/jsx-boolean-value":              [1, "always"],
      "react/jsx-filename-extension":         [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
      "react/jsx-indent-props":               [2, 4],
      "react/jsx-indent":                     [2, 4],
      "react/jsx-one-expression-per-line":    [0],
      "react/jsx-props-no-spreading":         [0],
      "react/prefer-stateless-function":      [1],
      "react/react-in-jsx-scope":             "off",
      "react/static-property-placement":      [1, "property assignment"]
  },
  "settings": {
      "import/resolver": {
          "node": {
              "paths": ["./"]
          }
      }
  }
}
