{
  "parser": "babel-eslint",
  "extends": [
      "airbnb",
      "plugin:prettier/recommended",
      "plugin:react/recommended",
      "plugin:react-hooks/recommended",
      "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
      "prettier"
  ],
  "env": {
      "browser": true
  },
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "rules": {
      "jsx-a11y/anchor-is-valid":             [ "error", {
                                                  "components": [ "Link" ],
                                                  "specialLink": [ "hrefLeft", "hrefRight" ],
                                                  "aspects": ["invalidHref", "preferButton"]
                                              }],
      "prettier/prettier":                    ["error"],
      "react/forbid-prop-types":              [0],
      "react/jsx-boolean-value":              [1, "always"],
      "react/jsx-filename-extension":         [1, { "extensions": [".js", ".jsx"] }],
      "react/jsx-indent":                     [2, 4],
      "react/jsx-indent-props":               [2, 4],
      "react/jsx-one-expression-per-line":    [0],
      "react/prefer-stateless-function":      [1],
      "react/static-property-placement":      [1, "property assignment"],
      "react-hooks/rules-of-hooks":           "error", // Checks rules of Hooks
      "react-hooks/exhaustive-deps":          "warn" // Checks effect dependencies
  },
  "settings": {
      "import/resolver": {
          "node": {
              "paths": ["./"]
          }
      }
  }
}
