---
layout: default
---

<div class="home">
    <ul class="post-list">
      {% for post in paginator.posts %}
          <li>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              <span class="post-list-date">{{ post.date | date: "%b %d %Y" }}</span>
              <div style="clear:both"></div>
          </li>
      {% endfor %}
    </ul>

    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      Page:
      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <em>{{ page }}</em>
        {% elsif page == 1 %}
          <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
