<footer class="footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <hr />
                <p>
                    Find me on:
                    <a href="https://www.buymeacoffee.com/needcaffeine" rel="noopener nofollow">buy me a coffee</a>,
                    <a href="https://github.com/needcaffeine" rel="noopener nofollow">github</a>,
                    <a href="https://twitter.com/vicvijayakumar" rel="noopener nofollow">twitter</a>,
                    <a href="https://www.linkedin.com/in/vicvijayakumar/" rel="noopener nofollow">linkedin</a>,
                    <a href="https://www.medium.com/@needcaffeine" rel="noopener nofollow">medium</a>.
                </p>
                <p>
                    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">Subscribe via RSS</a>
                </p>
            </div>
        </div>
    </div>
</footer>
