body {
    background: #fff;
    color: #333;
    margin-top: 60px;
}

.intro {
    .pages {
        margin-top: 30px;

        a {
            margin-right: 10px;
        }
    }
}

.posts {
    margin-top: 30px;

    .post {
        margin-bottom: 15px;

        p.title {
            margin-bottom: 0;
        }

        .title {
            font-size: 24px;
            line-height: 30px;

            a {
                &:link, &:active, &:visited, &:hover {
                    color: #000;
                    text-decoration: none;
                }

                &:hover {
                    color: lighten(#000, 30%);
                }
            }
        }

        .date {
            color: #ccc;
            font-size: 14px;
        }
    }
}

.card-body {
    .fa-github {
        font-size: 24px;
    }
}

.footer {
    margin-top: 30px;
    line-height: 30px;

    p {
        margin-bottom: 0;
    }

    a, a:link, a:visited, a:active, a:hover {
        color: #333;
        text-decoration: none;
        border-bottom: 1px dashed #7f8c8d;
        transition: border-bottom .25s ease-in-out;
    }

    a:hover {
        color: #333;
        border-bottom: 1px dashed transparent;
    }
}
