/* Universal */
html, body, p {
	font-family: 'Lato', sans-serif;
}
body {
	padding-top: 60px;
	padding-bottom: 40px;
}
h1, h2, h3,
#introduction p,
div .separator {
	font-family: 'Goudy Bookletter 1911', serif;
}

/* Front page specific */
#introduction p {
	font-size: 32px;
	line-height: 50px;
	text-align: center;
}
div .separator {
	text-align: center;
	font-size: 20px;
	line-height: 50px;
}
#contact {
	margin: 30px 0 30px;
	font-size: 28px;
	text-align: center;
}
#contact a {
	color: #555;
	margin-right: 10px;
}
#contact a:hover {
	color: #333;
	text-decoration: none;
}
#listing ul li {
	list-style-type: none;
	font-weight: 300;
	font-size: 24px;
	line-height: 36px;
	color: #ccc;
}
#listing ul li span {
	font-family: "Droid Sans Mono", "Courier", "Courier New";
	margin-right: 20px;
	font-size: 18px;
	color: #eee;
}

/* Post page */
#home-link a, #home-link a:visited, #home-link a:link, #home-link a:active {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 7px 0 5px;
	margin-left: 5px;
	background-color: #eee;
	font-weight: 700;
	color: #ccc;
	font-size: 48px;
}
#home-link a:hover {
	color: #666;
	text-decoration: none;
}
#post h1 {
	font-size: 50px;
	line-height: 60px;
	margin-top: 0;
	padding-top: 0;
	color: #08C;
}
#post h2 {
	font-size: 40px;
	line-height: 50px;
	color: #333;
	margin-top: 30px;
}
#post p {
	margin-top: 20px;
	font-size: 24px;
	line-height: 36px;
	color: #333;
	font-weight: 300;
}
#post ol {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
}
#post ol li, #post ul li {
	font-size: 24px;
	line-height: 32px;
	font-weight: 300;
	padding: 5px 0;
}
#post a, #post a:link, #post a:active, #post a:visited {
	border-bottom: 1px dashed #ccc;
	text-decoration: none;
	transition: border-color 0.25s linear;
	-moz-transition: border-color 0.25s linear;    /* FF3.7+ */
	-o-transition: border-color 0.25s linear;      /* Opera 10.5 */
	-webkit-transition: border-color 0.25s linear; /* Saf3.2+, Chrome */
}
#post a:hover {
	border-bottom: 1px dashed #fefefe;
	text-decoration: none;
}
code, pre {
	font-size: 14px;
	color: #333333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
pre {
  display: block;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
}
pre.prettyprint {
  margin-bottom: 20px;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}
#related {
	border-top: 1px solid #eee;
	margin: 60px 0 60px;
	padding-top: 30px;
}
#related h2 {
	font-size: 40px;
	line-height: 50px;
	color: #333;
}
#related ul li {
	list-style-type: none;
	font-weight: 300;
	font-size: 24px;
	line-height: 36px;
	color: #ccc;
	margin-left: 0;
}
#related ul li span {
	font-family: "Droid Sans Mono", "Courier", "Courier New";
	margin-right: 20px;
	font-size: 18px;
	color: #eee;
}
#related ul.posts {
	margin-left: 0;
}
