<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="{{ site.author }}" />
    <meta name="viewport" content="width=device-width">

    {% css_asset_tag global %}
    - /_assets/css/bootstrap.min.css
    - /_assets/css/font-awesome.min.css
    - /_assets/css/style.css
    - /_assets/css/syntax.css
    {% endcss_asset_tag %}
	<link href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Droid+Sans+Mono|Lato:300,400,700" rel="stylesheet" type="text/css">

	{% if site.server == false %}{% include analytics.html %}{% endif %}
</head>
<body>
	<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	<div class="container">
		{{ content }}
    </div>
</body>
</html>
