---
layout: default
comments: true
---

<div id="home-link">
	<a href="/"><i class="icon-double-angle-left"></i></a>
</div>
<div class="row-fluid">
	<div class="span12">
		<div id="post">
			{{ content }}
		</div>
		<div id="related">
			<h2>Related posts</h2>
			<ul class="posts">
				{% for post in site.related_posts limit:3 %}
				<li><span>{{ post.date | date_to_string }}</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
		{% if site.server == false %}{% if page.comments %}{% include disqus.html %}{% endif %}{% endif %}
	</div>
</div>
